# OpenWeather API Key
OWKEY = your_openweather_key


#PostgreSQL Database Credentials for 'utahmountains'
DB_NAME = your_db_name
DB_USERNAME = your_db_username
DB_PASSWORD = your_db_password
DB_HOST = *host.docker.internal* if containerized or localhost if not
DB_PORT = 5432


#Airflow Postgres - leave as is
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

#Airflow - leave as is
USERNAME_AIRFLOW_INSTANCE=airflow
PASSWORD_AIRFLOW_INSTANCE=airflow
FERNET_KEY=your_fernet_key #find in airflow.cfg