# OpenWeather API Key
owkey = your_ow_key


#PostgreSQL Database Credentials for 'utahmountains'
database = your_db_name
user = your_db_username
password = your_db_password
host = localhost
af_host = host.docker.internal #use this when connecting DB in airflow
port = 5432

#Airflow Postgres - leave as is
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow


#Airflow - leave as is
USERNAME_AIRFLOW_INSTANCE=airflow
PASSWORD_AIRFLOW_INSTANCE=airflow
FERNET_KEY=your_fernet_key #find in airflow.cfg